<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comre - Coupon &amp;amp; Offers HTML Template</title>
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,Multi-Purpose,M_Adnan,Corporate Theme,Comre -   Coupon &amp; Offers Template">
        <meta name="description" content="Comre - Coupon &amp; Offers HTML Template">
        <meta name="author" content="M_Adnan">

        <!-- FONTS ONLINE -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

        <!--MAIN STYLE-->
        <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/Content/css/main.css" rel="stylesheet" type="text/css">
        <link href="/Content/css/style.css" rel="stylesheet" type="text/css">
        <link href="/Content/css/animate.css" rel="stylesheet" type="text/css">
        <link href="/Content/css/responsive.css" rel="stylesheet" type="text/css">
        <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Page Wrap ===========================================-->
        <div id="wrap">

            <!--======= TOP BAR =========-->
            <div class="top-bar">
                <div class="container">
                    <ul class="left-bar-side">
                        <!-- <li> <a href="../../home/login"><i class="fa fa-lock"></i> Login</a> </li>-->
                        <li> <a href="../../home/signup"><i class="fa fa-user"></i> My Account</a> </li>
                        <li> <a href="../../Adminhome/index"><i class="fa fa-lock"></i> Login </a></li>
                    </ul>
                    <ul class="right-bar-side social_icons">
                        <li class="facebook"> <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> </a></li>
                        <li class="twitter"> <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i> </a></li>
                        <li class="linkedin"> <a href="https://www.instagram.com/?hl=en"><i class="fa fa-linkedin"></i> </a></li>
                       
                    </ul>
                </div>
            </div>

            <!--======= HEADER =========-->
            <header>
                <div class="container">

                    <!--======= LOGO =========-->
                    <div class="logo"><img src="/Content/images/lo.jpg" alt=""></div>

                    <!--======= SEARCH =========-->
                    <div class="search">
                        <select class="form-control">
                            @*<option>All Categories</option>
                            <option>Exclusive</option>
                            <option>Coupon</option>
                            <option>Cashback</option>*@
                        </select>
                        @*<input class="form-control" placeholder="Enter your keyword...">
                        <button type="submit"><i class="fa fa-search"></i></button>*@
                    </div>
                </div>

                <!--======= NAV =========-->
                <nav>
                    <div class="container">

                        <!--======= MENU START =========-->
                        <ul class="ownmenu">
                            <li>
                                <a href="../../home/index">Home</a>
                                @*<ul class="dropdown">
                                    <li><a href="../../home/index">Home 2</a></li>
                                </ul>*@
                            </li>
                            <li><a href="../../home/aboutus">About us</a></li>
                            <li class="active">
                                <a href="../../home/products">categories</a>
                                <!--======= DROP DOWN =========-->
                                <ul class="dropdown">
                                    <li><a href="../../home/meat">Meat</a></li>
                                    <li><a href="../../home/fruits">Fruits and Vegetables</a></li>
                                    <li><a href="../../home/spices">Spices</a></li>
                                    <li><a href="../../home/catagory">Snacks and Drinks</a></li>
                                    <li><a href="../../home/dairy">Dairy items</a></li>
                                </ul>
                            </li>

                            <li>


                                <!--======= MEGA MENU =========-->
                                <div class="megamenu full-width">
                                    <h5>Recent post</h5>
                                    <div class="row nav-post">
                                        <div class="col-sm-4 boder-da-r">
                                            <ul class="row">
                                                <li>
                                                    <div class="img-nav"> <img class="img-responsive" src="~/Content/images/nav-img-1.jpg" alt=""> </div>
                                                    <div class="nav-text"> <a href="#.">Intex Aqua Style X Android 4.4 KitKat handset found listed</a> <span><i class="fa fa-calendar"></i> November 15, 2014</span> </div>
                                                </li>
                                                <li>
                                                    <div class="img-nav"> <img class="img-responsive" src="~/Content/images/nav-img-2.jpg" alt=""> </div>
                                                    <div class="nav-text"> <a href="#.">Vibram Men's & Women's Five Fingers Athletic</a> <span><i class="fa fa-calendar"></i> November 15, 2014</span> </div>
                                                </li>
                                                <li>
                                                    <div class="img-nav"> <img class="img-responsive" src="~/Content/images/nav-img-3.jpg" alt=""> </div>
                                                    <div class="nav-text"> <a href="#.">Bluetooth Rechargeable Mini Speaker </a> <span><i class="fa fa-calendar"></i> November 15, 2014</span> </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 boder-da-r">
                                            <div class="nav-big">
                                                <a href="#.">Beltronics Professional Series Radar/Laser</a> <img class="img-responsive" src="~/Content/images/nav-img-4.jpg" alt="">
                                                <p>Show tonight. Now were up in the big leagues getting' our turn at bat. Come and play. Everything .</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="nav-big">
                                                <a href="#.">Beltronics Professional Series Radar/Laser</a> <img class="img-responsive" src="~/Content/images/nav-img-5.jpg" alt="">
                                                <p>Show tonight. Now were up in the big leagues getting' our turn at bat. Come and play. Everything .</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="../../home/contact">Contact</a> </li>
                            <li>
                                <a href="#">All Pages</a>

                                <!--======= DROP DOWN =========-->
                                <ul class="dropdown">
                                    <li><a href="../../home/index">Home</a></li>
                                    @*<li><a href="../../home/index">Home 2</a></li>*@
                                    <li><a href="../../home/aboutus">About</a></li>

                                    <!--   <li><a href="../../home/products">Products</a></li>-->
                                    <!--      <li><a href="../../home/category">Categories</a></li>-->

                                    <li><a href="../../home/signup">Sign Up</a></li>




                                    <li><a href="../../home/err">404</a></li>
                                    <li><a href="../../home/contact">Conatct</a></li>
                                </ul>
                            </li>
                        </ul>

                        <!--======= SUBMIT COUPON =========-->
                        <!-- <div class="sub-nav-co"> <a href="#.">Submit coupon</a> </div>
                        </div>-->
                </nav>
            </header>

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <div class="container">
            <ul class="row">
                <li class="col-sm-4">
                    <h6>about comre</h6>
                    <p>
                        Hello we are Comre. We are here to provide you the best offers through our coupons. Hello we are
                        Comre. We are here to provide you coupons.
                    </p>
                    <p>54/20  Cantt Area, Lahore,PAKISTAN</p>
                    <p>Contact@Dailygroce.com</p>
                    <p>http://Dailygroce.com</p>
                </li>
                @*<li class="col-sm-4">
                    <h6>quick link</h6>
                    <div class="row links">
                        <ul class="col-xs-4">
                            <li><a href="#.">Home</a> </li>
                            <li><a href="#.">stores</a> </li>
                            <li><a href="#.">contact </a> </li>
                            <li><a href="#.">careers</a> </li>
                            <li><a href="#.">blog</a> </li>
                        </ul>
                        <ul class="col-xs-8">
                            <li><a href="#.">Sitemap</a> </li>
                            <li><a href="#.">Press</a> </li>
                            <li><a href="#.">Privacy Policy & Opt Out</a> </li>
                            <li><a href="#.">List your business on CD</a> </li>
                            <li><a href="#.">Terms of Service</a> </li>
                        </ul>
                    </div>*@
                </li>
                <li class="col-sm-4">
                    <div class="subcribe">
                        <h6>Subscribe To Mail!</h6>
                        <p>
                            Get our Daily email newsletter with
                            Special Services, Updates, Offers and more!
                        </p>
                        <input type="search" class="form-control" placeholder="Email Address">
                        <button type="submit">SIGNUP!</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rights">
            <p>HIRA KHAN &copy; 2016 | | Design by: Design by: <a href="file:///C:/Users/skaicomputer/Documents/Visual%20Studio%202013/Projects/dept/dept/portfolio/index.html" class="" target="_blank">HIRA KHAN </a></p>
            <ul class="social_icons">
                <li class="facebook"> <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> </a></li>
                <li class="twitter"> <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i> </a></li>
                <li class="linkedin"> <a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i> </a></li>
               
            </ul>
        </div>
    </footer>
    </div>
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.stellar.js"></script>
    <script src="~/Content/js/jquery.isotope.min.js"></script>
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/own-menu.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>
