@{
    Layout = null;
}
@{
    ViewBag.Title = "update";
}

@model dept.Models.product


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Panels</title>

    <link href="~/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="~/CSS/datepicker3.css" rel="stylesheet">
    <link href="~/CSS/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="JJS/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="~/Adminhome/logout" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Logout <span class="caret"></span></a>
                    <a href="~/Adminhome/Aadmin" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Back <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>

<body style="font-family: Verdana; color: white; overflow-x: hidden; background-image: url('/Content/images/im2.jpg'); background-repeat: no-repeat; background-size: cover;">
   

    
        <section class="sub-banner">
            <div class="overlay">
                <div class="container">
                  
                  <!--  <ul class="sub-nav">
                        <li><a href="#."><i class="fa fa-home"></i></a> / </li>
                        <li><a href="#.">Sign Up</a></li>
                    </ul>-->
                </div>
            </div>
        </section>

        <!--======= SIGN UP =========-->
        <section class="sign-up">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                      
                        <img class="img-responsive" src="~/Content/images/sign-up-img.png" alt="">
                    </div>

                    <!--======= SIGN UP FORM =========-->
                    <div class="col-sm-6">
                        <form action="/Adminhome/EditOK/@Model.product_id" method="post">
                            <ul class="row">
                                <li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM id*
                                            <input  type="text" name="id" class="form-control" id="" value="@Model.product_id" placeholder="">
                                        </label>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM Name *
                                            <input type="text" name="name" class="form-control" id="" value="@Model.name" placeholder=" ">
                                        </label>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM PRICE *
                                            <input type="text" name="price" class="form-control" id="" value="@Model.price" placeholder=" ">
                                        </label>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM QUANTITY*
                                            <input type="text" name="quant" class="form-control" id="" value="@Model.stock" placeholder=" ">
                                        </label>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM TYPE
                                            <input type="text" name="cat" class="form-control" id="" value="@Model.catagory"placeholder=" ">
                                        </label>
                                    </div>
                                </li>

                                @*<li class="col-md-6">
                                    <div class="form-group">
                                        <label for="">
                                            ITEM order_id
                                            <input type="text" name="odd" class="form-control" id="" placeholder="">
                                        </label>
                                    </div>
                                </li>*@

                                <li class="col-md-6">
                                    <button type="submit" class="btn">Update</button>
                                </li>

                                <a class="col-md-6" href=" ../../Adminhome/Aadmin">
                                    BACK
                                </a>

                            </ul>
                        </form>

                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
<script src="JJS/jquery-1.11.1.min.js"></script>
<script src="JJS/bootstrap.min.js"></script>
<script src="JJS/chart.min.js"></script>
<script src="JJS/chart-data.js"></script>
<script src="JJS/easypiechart.js"></script>
<script src="JJS/easypiechart-data.js"></script>
<script src="JJS/bootstrap-datepicker.js"></script>
<script>
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>





